<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar sesión StudyatHome </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="anim-login">
    <ng-lottie [options]="animacion"></ng-lottie>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" color="primary" (click)="ingresar()">
        Ingresar
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
